{%extends "base.html"%}
{%load static%}

{%block estilos%}
    <link rel="stylesheet" href="{%static 'css/arte.css'%}">
{%endblock%}

{%block principal%}
    <h1>DEPORTES</h1>

    {% if form %}
        <form action="" method="POST">
            {%csrf_token%}

            {{form.as_p}}

            <button>Guardar</button>
        </form>
    {%else%}
        <h2>Lista de Actividades</h2>
        <a id="actividad" href="deportes/add">Nueva Actividad</a>

        <ul id="artes">
            {%for a in actividadesdeporte%}
                <li id="cuadros">
                    <em>{{a.nombre}}</em>
                    <p>
                        {{a.descripcion}}
                    </p>
                </li>
            {%endfor%}
        </ul>
    {%endif%}
{%endblock%}