{%extends "base.html"%}
{% load static%}

{%block estilos%}
<link rel="stylesheet" href="{% static 'css/arte.css' %}">
{% endblock %}

{%block principal%}
  <h1>Registro</h1>

{% if form%}
  <form class="" action="" method="post">
    {%csrf_token%}
    {{form.as_p}}
    <button type="submit" name="button">Guardar</button>
  </form>
{% else %}

<h2>Usuarios Registrados</h2>
<a href="/registro/add" id="actividad">Agregar Usuario</a>
  <ul id="artes">
    {%for r in personasRegistradas%}
    <li id="cuadros">
      <em>{{r.nombre}}</em>
      <p>{{r.apellidos}}</p>
      <p>{{r.sexo}}</p>
      <p>{{r.correo}}</p>
    </li>
    {%endfor%}
  </ul>

{%endif%}

{%endblock%}